*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
  background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)),url('./img/header-bcg.jpeg')center/cover fixed no-repeat;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700i');
:root{
 --light:#fff;
 --dark:#181B24;
 --grey:#899495;
 --orange:#Fc5130;
 --SectionGrey:#F2F2F2;
}

body{
  font-family: 'Roboto Mono', monospace;
}

.nav{
 background:var(--light);
}
.nav__header{
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 1rem;
  border-bottom: 0.5rem solid var(--dark);
}
.nav__btn{
  align-self: center;
  font-size: 3rem;
  color: var(--grey)
}
.nav__links{
  list-style-type: none;
  background: var(--grey);
}
.nav__single-link{
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  font-style: italic;
  text-transform: capitalize;
  color:var(--orange);
  transition: all 1s linear
}
.nav__single-link:hover{
  background: var(--light);
  padding-left: 1.5rem;
  cursor: pointer;
}

/* nav javascript */
.nav__links{
  height: 0;
  overflow: hidden;
  transition: all 2s ease;
}
.show__links{
height: 264px;
}
/*  */

@media screen and (min-width:768px){
  .nav{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 0.5rem solid var(--dark);

  }
  .nav__header{
    border-bottom: none;
  }
  .nav__btn{
    display: none;
  }
  .nav__links{
    background: transparent;
    height: auto;
    /* as a flex child */
   flex:1 0 auto;
    /* as a flex parent */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
  }
  .nav__single-link{
    background: transparent;
    flex:1 0 100px;
  }
  .nav__single-link:hover{
    padding-left: 1rem;
    color: var(--dark);
  }
}


/* header */
/* .header{
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 /* background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)),url('./img/header-bcg.jpeg')center/cover no-repeat; */
/* } */

.banner{
 /* as a flex child */
 flex:1 0 auto;
 /* as a parent */
 display: flex;
justify-content: center;
align-items: flex-end;
color:var(--dark);
text-align: center;
padding-bottom: 4rem;
font-weight: 700;
}

.banner__title{
 font-size: 4rem;
  letter-spacing: 0.15rem;
  margin-bottom: 0.5rem;
  font-style: italic;
  text-transform: capitalize;

}
.banner__jobs{
 letter-spacing: 0.15rem;
 text-transform: capitalize;
 font-size: 1.5rem;
 color:var(--light)
}

.services{
  background: var(--SectionGrey);
  padding: 3rem 0;
}
.services__center{
  max-width: 90vw;
  margin: 2rem auto
}
.services__single-service{
  margin: 2rem auto;
  text-align: center;
  transition: all 0.5s linear;
  padding: 1rem 0;
}
.services__single-service:hover{
   box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    background:var(--light);
}
.services__single-service-icon{
  font-size: 3rem;
}
.services__single-service-title{
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;

}
.services__single-service-text{
  width: 80%;
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: 0.2rem;
}

@media screen and (min-width:768px){
  .services__center{
    display: flex;
    /*  */
flex-wrap: wrap;
justify-content: space-between;
  }
      .services__single-service{
        flex:0 0 calc(50% - 0.5rem);
      }

}
@media screen and (min-width:992px){
      .services__single-service{
        flex:0 0 calc(33.333% - 0.5rem);
      }

}